div {
    /*border: 1px solid black;*/
}

/**********************************************************/

* {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #80ff80;
  border: 1px solid #0c0;
  border-radius: 5px;
}

h2 {
  display: inline-block;
}

.mainContent {
  border: 1px solid #80ff80;
  border-radius: 5px;
  margin-top: 5px;
}

table tr { 
  line-height: 37px;
}