/*
div {
  border: 1px solid black;
}

img {
  border: 1px solid black;
}
*/

/**********************************************************/

* {
  padding: 0;
  margin: 0;
}

body { padding-top: 55px; }

.navbar-nav img {
  height: 46px;
  margin: 2px;
  margin-right: 20px;
} 

.navbar-nav li {
  font-size: 16px;
}

.navbar-nav a {
  float: left;
}

.mainContent {
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
  background-color: rgb(251, 251, 251);
}

table {
  background-color: white;
  margin: auto;
}

th {
  text-align: center;
}

tr { 
  line-height: 37px;
}

td {
  padding-left: 10px;
  padding-right: 10px; 
}

th, td {
  border: 1px solid rgb(230, 230, 230);
}

.tableMatches { 
  text-align: center;
  min-width: 250px; 
}

.tableTeams {
  min-width: 220px;
}

.tableChampionships {
  min-width: 225px;  
}

.centered {
  text-align: center;
}

.left {
  text-align: left;
}

dir-pagination-controls {

}