/*
div {
  border: 1px solid black;
}

img {
  border: 1px solid black;
}
*/

/**********************************************************/

* {
  padding: 0;
  margin: 0;
}

.header {
  background-color: black;
  border: 1px solid #0c0;
  border-radius: 5px;
}

.sub-header img {
  float: left;
}

.sub-header a {
  margin: 30px;
}

.mainContent {
  border: 1px solid #80ff80;
  border-radius: 5px;
  margin-top: 5px;
  padding: 5px;
  background-color: #e6ffe6;
}

table {
  background-color: white;
  margin: auto;
}

th {
  text-align: center;
}

tr { 
  line-height: 37px;
}

td {
  padding-left: 10px;
  padding-right: 10px; 
}

th, td {
  border: 1px solid #c4edd8;
}

.matches td { 
  text-align: center;
}

.teams {
  min-width: 220px;
}

.championships {
  min-width: 225px;  
}

.centered {
  text-align: center;
}

dir-pagination-controls {

}