<!DOCTYPE html>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="module.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body>

<div ng-app="main" ng-controller="championships">
  <p>Чемпіонат</p>
  <img src="https://footballbet.com.ua/table/embl/{{selectedCountry}}.jpg" alt="Сhampionship emblem" height="42" width="42" />
  <select ng-model="selectedCountry"> 
    <option ng-repeat="country in countries" value={{country.title}}>{{country.name}} "{{country.sename}}"</option>
  </select>
</div>

</body>
</html>
