<div class="container">
  <table>
    <head>
      <tr>
        <th>Date</th>
        <th>Championship</th>
        <th>Match</th>
      </tr>
    </head>
    <tbody>
      <tr>
        <td>{{matches[idMatch].date}}   </td>
        <td><a href="#!championships/{{matches[idMatch].title}}">{{matches[idMatch].title}}  </a></td>
        <td><a href="#!teams/{{matches[idMatch].idFirstTeam}}">{{matches[idMatch].firstTeam}} </a>{{matches[idMatch].firstTeamGoal}}:{{matches[idMatch].secondTeamGoal}} <a href="#!teams/{{matches[idMatch].idSecondTeam}}">{{matches[idMatch].secondTeam}}</a></td>           
      </tr>
    </tbody>
  </table>
</div>