<form class="form-inline">
  <label >Search</label>
  <input type="text" ng-model="search" class="form-control" placeholder="Search">
</form>
<div class="container">
  <table class="tableMatches">
    <head>
      <tr>
        <th>Matches</th>
      </tr>
    </head>
    <tbody>
      <tr dir-paginate="match in Data.matches|itemsPerPage:10|filter:search">
        <td><a href="#!matches/{{$index}}">{{match.firstTeam}} - {{match.secondTeam}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="centered">
  <dir-pagination-controls
    max-size="5"
    direction-links="true"
    boundary-links="true" >
  </dir-pagination-controls>
</div>