<div class="container">
  <table class="tableMatches">
    <head>
      <tr>
        <th>
          <span id="tableHeader">
            Matches
            <a href="" ng-click="Data.hideById('tableHeader', 'search')"><span class="glyphicon glyphicon-search"></span></a>
          </span>          
          <span class="hidden" id="search">
            <form class="form-inline">
              <input type="text" ng-model="search" class="form-control" placeholder="Search">
            </form>
          </span>
        </th>
      </tr>
    </head>
    <tbody>
      <tr dir-paginate="match in Data.matches|itemsPerPage:10|filter:search">
        <td><a href="#!matches/{{$index}}">{{match.firstTeam}} - {{match.secondTeam}}</a></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="centered">
  <dir-pagination-controls
    max-size="5"
    direction-links="true"
    boundary-links="true" >
  </dir-pagination-controls>
</div>