<div class="container">
  <table class="matches">
    <head>
      <tr>
        <th>Date</th>
        <th>Championship</th>
        <th>Match</th>
      </tr>
    </head>
    <tbody>
      <tr dir-paginate="match in matches|itemsPerPage:10">
        <td>{{match.date}}   </td>
        <td>{{match.title}}  </td>
        <td>{{match.firstTeam}} {{match.firstTeamGoal}}:{{match.secondTeamGoal}} {{match.secondTeam}}</td>           
      </tr>
    </tbody>
  </table>
</div>
<dir-pagination-controls
  max-size="5"
  direction-links="true"
  boundary-links="true" >
</dir-pagination-controls>