<form class="form-inline">
  <label >Search</label>
  <input type="text" ng-model="search" class="form-control" placeholder="Search">
</form>
<div class="container">
  <table class="tableTeams">
    <head>
      <tr>
        <th>Teams</th>
      </tr>
    </head>
    <tbody>
      <tr dir-paginate="team in teams|itemsPerPage:10|filter:search">
        <td>
          <img ng-if="team.emblema" src="https://footballbet.com.ua/teams/embl/{{team.emblema}}" height="35" width="35" />
          <img ng-if="!team.emblema" src="/img/no_logo.png" height="35" width="35" />
          <a href="#!teams/{{team.id_teams}}">  {{team.name}}</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="centered">
  <dir-pagination-controls
    max-size="7"
    direction-links="true"
    boundary-links="true" >
  </dir-pagination-controls>
</div>