<div class="container centered">
  <img src="https://footballbet.com.ua/teams/embl/{{teams[teamNumber].emblema}}" />
    <h3>{{current_page}}</h3>
  <p>Назва команди: {{teams[teamNumber].name}}</p>
  <p>Друга назва: {{teams[teamNumber].second_name}}</p>
  <p>Місто: {{teams[teamNumber].city}}</p>
  <p>Рік заснування: {{teams[teamNumber].foundation_year}}</p>
  <p>Тренер: {{teams[teamNumber].coach}}</p>
  <p>Президент: {{teams[teamNumber].president}}</p>
  <p>Домашній стадіон: {{teams[teamNumber].home_stadion}}</p>
  <p>ID чемпіонату: {{teams[teamNumber].id_championship}}</p>
  <p>ID команди: {{teams[teamNumber].id_teams}}</p>
  <p>Веб сторінка: <a href="{{teams[teamNumber].off_site}}">{{teams[teamNumber].off_site}}</a></p>
  <p>Нагороди: </p>
  {{teams[teamNumber].title}}
</div>
